body {
    margin: 0;
    color: #CCD0CF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 0px solid #253745;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #253745;
    overflow: hidden;
    position: relative;
    max-height: 180px;
    transition: max-height 1s ease, transform 1s ease;
}

.card:hover {
    transform: scale(1.02);
    max-height: 320px;
}

.card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.avatar {
    width: 150px;
}
    

.skills {
    background-color: #4A5C6A;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #CCD0CF;
    border-bottom: 2px solid #4A5C6A;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.8s ease, opacity 0.7s ease;

}

.card:hover .skills {
    opacity: 1;
    transform: translateY(0);
}
    

.skills p {
    margin: 0;
    font-weight: lighter;
    font-size: medium;
    letter-spacing: 1px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 30px;
}

.socials a {
    text-decoration: none;
    color: #CCD0CF;
    font-size: small;
    text-transform: uppercase;
}

.icon {
    width: 28px;
    height: 28px;
    fill: #CCD0CF;
}

.icon:hover {
    fill: whitesmoke;
    transform: scale(1.1);
    transition: fill 0.3s, transform 0.2s;
}