body {
    margin: 0;
    color: #CCD0CF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #253745;
    border-bottom: 10px solid #4A5C6A;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 30px;
}

.socials a {
    text-decoration: none;
    color: #CCD0CF;
    font-size: small;
    text-transform: uppercase;
}

.icon {
    width: 28px;
    height: 28px;
    fill: #CCD0CF;
}
