body {
    margin: 20px;
    color: #2b2839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 10px solid #d8cefe;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

.socials a {
    text-decoration: none;
    color: #1a1a40;
    font-size: small;
    text-transform: uppercase;
}
